<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sindhuri</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <style>
    #links a {
      background: white;
      border: 1px solid white;
      width: 100%;
      padding: 1rem 2rem;
      margin-bottom: 1rem;
      font-weight: 600;
      border-radius: 6px;
      transition: ease-in-out 0.2s;
    }

    #links a:hover {
      background: none;
      color: white;
    }

    #social a {
      height: 32px;
      width: 32px;
      margin: 0 1rem;
    }

    #social a:hover {
      height: 36px;
      width: 36px;
      transition: ease-in-out 0.2s;
    }
  </style>
</head>

<body class="bg-gray-900" style="background-color: #702459">
  <div class="mx-auto max-w-2xl min-h-screen flex flex-col items-center py-8">
    <!-- AVATAR -->
    <div class="flex flex-col items-center" id="profile" style="display:block">
      <img class="w-24 h-24 rounded-full shadow-md" id="avatar"
        src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/106712291_3176154185757264_7648077350025036760_o.jpg?_nc_cat=104&amp;_nc_sid=09cbfe&amp;_nc_ohc=rXW2pY9H_psAX81xot9&amp;_nc_ht=scontent-dfw5-2.xx&amp;oh=ab51efb85239e3ddd3b08cde16633441&amp;oe=5FB34E26">
      <h1 class="text-md text-white mt-2 font-semibold" id="name" style="margin-left: 17px">Sindhuri</h1>
    </div>

    <!-- LINKS -->
    <div class="flex flex-col space-between w-full px-8 text-center my-8" id="links"><a href="https://www.facebook.com"
        target="_blank">Link 1</a>
      <a href="https://www.google.com" target="_blank">Link 2</a>
      <a href="https://www.youtube.com" target="_blank">Link 3</a></div>

      <!-- SOCIAL MEDIA LINKS -->
    <div id="social" class="flex w-1/2 justify-evenly" style="display: 'flex', flex-direction:'row'">
      <div style="display: flex">
        <a href="https://www.instagram.com/sindhuri_pallapothu/?hl=en" target="_blank">
          <svg>
          </svg><img width="70px" height="70px" src="https://simpleicons.org/icons/instagram.svg">

        </a>
        <a href="https://www.facebook.com/profile.php?id=100000881421390" target="_blank">
          <svg>
          </svg><img width="70px" height="70px" src="https://image.flaticon.com/icons/png/512/20/20673.png">

        </a>
        <a href="https://www.linkedin.com/in/sindhuri-lsp/" target="_blank">
          <svg>
          </svg><img width="70px" height="70px" src="https://simpleicons.org/icons/linkedin.svg">

        </a>
        <a href="https://github.com/sindhuripallapothu" target="_blank">
          <svg>
          </svg><img width="70px" height="70px" src="https://simpleicons.org/icons/github.svg">

        </a>
      </div>
    </div>
  </div>


</body>

</html>